* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  font-family: Lato;
  font-weight: 400; }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn {
  padding: 2rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  display: inline-block;
  transition: all .2s ease-out;
  position: relative;
  font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem); }
  .btn:active {
    transform: translateY(-0.1rem); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.header-box {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem; }
  .logo-box .logo {
    width: 6.5rem; }

.about {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .about .aboutUp {
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    text-transform: uppercase;
    display: block;
    color: #fff;
    animation: moveInLeft .8s ease-out; }
  .about .aboutDown {
    letter-spacing: 1.75rem;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    display: block;
    color: #fff;
    animation: moveInRight .8s ease-out; }
  .about .btn-white {
    background-color: #fff;
    border-radius: 10rem;
    animation: btnToUp .5s ease-out .75s;
    animation-fill-mode: backwards; }
    .about .btn-white::after {
      background-color: #fff; }
  .about .btn-box {
    margin-top: 8rem; }

.main_box {
  background-color: #eeeeee;
  padding: 25rem 15rem;
  margin-top: -15rem; }
  .main_box .main_tittle {
    text-align: center; }
    .main_box .main_tittle h2 {
      text-transform: uppercase;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      display: inline-block;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 3.5rem;
      letter-spacing: 2px;
      transition: all .2s; }
      .main_box .main_tittle h2:hover {
        transform: skew(10deg, 3deg) scale(1.1); }
  .main_box .main_both {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem; }
    .main_box .main_both .main_left h3 {
      color: #777;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .3px; }
    .main_box .main_both .main_left p {
      color: #777;
      font-size: 1.4rem;
      line-height: 2.5rem;
      margin: 1.5rem 0;
      letter-spacing: 1px; }
    .main_box .main_both .main_left a {
      display: inline-block;
      margin-top: 1.5rem;
      text-decoration: none;
      font-size: 1.6rem;
      color: #55c57a;
      padding: 5px;
      border-bottom: 2px #b5b2b2 solid;
      transition: all .2s; }
      .main_box .main_both .main_left a:hover {
        background-color: #55c57a;
        color: #fff;
        transform: translateY(-1px); }
      .main_box .main_both .main_left a:active {
        transform: translateY(1px); }
    .main_box .main_both .main_right {
      position: relative; }
      .main_box .main_both .main_right img {
        border-radius: .2rem;
        width: 55%;
        position: absolute;
        z-index: 5;
        transition: all .2s; }
        .main_box .main_both .main_right img:hover {
          transform: scale(1.1);
          outline: 1.2rem #55c57a solid;
          outline-offset: 1.5rem;
          z-index: 10; }
      .main_box .main_both .main_right .img-1 {
        left: 0;
        top: -1rem; }
      .main_box .main_both .main_right .img-2 {
        right: 0rem;
        top: 2rem; }
      .main_box .main_both .main_right .img-3 {
        left: 10rem;
        top: 10rem; }
      .main_box .main_both .main_right:hover img:not(:hover) {
        transform: scale(0.95); }

.features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  padding: 20rem 15rem;
  transform: skewY(-4deg);
  margin-top: -7rem; }
  .features > * {
    transform: skewY(4deg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem; }
  .features--card {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5rem 3rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all .3s; }
    .features--card:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .features--card i {
      font-size: 6rem;
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
    .features--card h4 {
      color: #777;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      margin: 1rem 0; }
    .features--card p {
      color: #777;
      font-size: 1.4rem;
      line-height: 2.5rem; }
